

nav a{
    float: left;
    color: grey;
    text-align: center;
    padding: 12px 35px;
    text-decoration: none;
    font-size: 17px;
    padding-right: 40px;
}

.active{
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

.login {
    padding-left: 50px;
}



.hero{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.img{
    height: 200px;
    width: 300px;
}